<div class="chatai-sec">
            <div class="row">
                <div class="col-md-6">
                    <div class="video-popup icon-center frame-image frame-bg-gradient gradient-secondary frame-image-author">
                        <img src="assets/images/banner/banner-image-05.jpg" alt="Banner Images">
                        <div class="video-icon">
                            <a class="btn-default bg-gradient-secondary rounded-player popup-video" href="https://www.youtube.com/watch?v=tj9-MGHCs38">
                                <span><i class="feather-play"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>