<div class="rbt-header-wrapper @@gapSpaceBetween @@sticky">
    <div class="@@container">
        <div class="mainbar-row @@navigationEnd align-items-center">
            <div class="header-left rbt-header-content">
                <div class="header-info">
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/images/logo/@@logo" alt="Education Logo Images">
                        </a>
                    </div>
                </div>
                <div class="header-info">
                    <div class="rbt-category-menu-wrapper rbt-category-update">

                        <div class="rbt-category-btn">
                            <div class="rbt-offcanvas-trigger md-size icon">
                                <span class="d-none d-xl-block">
                                    <i class="feather-grid"></i>
                                </span>
                                <i title="Category" class="feather-grid d-block d-xl-none"></i>
                            </div>
                            <span class="category-text d-none d-xl-block">Category</span>
                        </div>

                        <!-- Start Update Cart Dropdown  -->
                        <div class="update-category-dropdown">
                            <div class="inner">
                                <ul class="dropdown-parent-wrapper">
                                    <li class="dropdown-parent-list active">
                                        <a href="#">Nipas Dream Ki</a>
                                        <div class="dropdown-child-wrapper">
                                            <div class="child-inner">
                                                <div class="dropdown-child-list">
                                                    <a href="#">Tumi Bujho nai</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">ja Tomar silo</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">Take tumi</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">Thokayso</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">Allah Dekbe</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dropdown-parent-list">
                                        <a href="#">Nipas Dream 02</a>
                                        <div class="dropdown-child-wrapper">
                                            <div class="child-inner">
                                                <div class="dropdown-child-list">
                                                    <a href="#">Nipa k cinla na</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">Ja Nipa</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">Ato Kosto korse</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">Sara jibon tomar</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">Pase silo</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dropdown-parent-list">
                                        <a href="#">Cat Parent 03</a>
                                        <div class="dropdown-child-wrapper">
                                            <div class="child-inner">
                                                <div class="dropdown-child-list">
                                                    <a href="#">Child List 01</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">Child List 01</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">Child List 01</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">Child List 01</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">Child List 01</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">Child List 01</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">Child List 01</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">Child List 01</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">Child List 01</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">Child List 01</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">Child List 01</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">Child List 01</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">Child List 01</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">Child List 01</a>
                                                </div>
                                                <div class="dropdown-child-list">
                                                    <a href="#">Child List 01</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dropdown-parent-list">
                                        <a href="#">Cat Parent 04</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Update Cart Dropdown  -->



                    </div>
                </div>
            </div>

            <div class="rbt-main-navigation d-none d-xl-block">
                @@include('header/nav.html')
            </div>

            <div class="header-right">

                <!-- Navbar Icons -->
                <ul class="quick-access">
                    <li class="access-icon">
                        <a class="search-trigger-active rbt-round-btn" href="#">
                            <i class="feather-search"></i>
                        </a>
                    </li>

                    <li class="access-icon rbt-mini-cart">
                        <a class="rbt-cart-sidenav-activation rbt-round-btn" href="#">
                            <i class="feather-shopping-cart"></i>
                            <span class="rbt-cart-count">4</span>
                        </a>
                    </li>

                    <li class="account-access rbt-user-wrapper d-none d-xl-block">
                        <a href="#"><i class="feather-user"></i>Admin</a>
                        @@include('header/user.html')
                    </li>

                    <li class="access-icon rbt-user-wrapper d-block d-xl-none">
                        <a class="rbt-round-btn" href="#"><i class="feather-user"></i></a>
                        @@include('header/user.html')
                    </li>

                </ul>

                <div class="rbt-btn-wrapper d-none d-xl-block">
                    <a class="rbt-btn @@btnClass" href="#">
                        <span data-text="@@btnText">@@btnText</span>
                    </a>
                </div>

                <!-- Start Mobile-Menu-Bar -->
                <div class="mobile-menu-bar d-block d-xl-none">
                    <div class="hamberger">
                        <button class="hamberger-button rbt-round-btn">
                            <i class="feather-menu"></i>
                        </button>
                    </div>
                </div>
                <!-- Start Mobile-Menu-Bar -->

            </div>
        </div>
    </div>
    @@include('header/search.html')
</div>
@@include('header/offcanvas/category-offcanvas.html')