
<div class="rbt-static-bar">
    <form class="new-chat-form border-gradient">
        <textarea id="txtarea" rows="1" placeholder="Send a message..."></textarea>
        <div class="left-icons">
            <div title="ChatenAI" class="form-icon icon-gpt">
                <i class="feather-aperture"></i>
            </div>
        </div>
        <div class="right-icons">
            <div class="form-icon icon-plus"
                data-bs-toggle="tooltip" data-bs-placement="top"
                data-bs-custom-class="custom-tooltip"
                data-bs-title="Choose File">
                <input type="file" class="input-file" name="myfile" multiple>
                <i class="feather-plus-circle"></i>
            </div>
            <button class="form-icon icon-mic"
                    data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Voice Search">
                <i class="feather-mic"></i>
            </button>
            <button class="form-icon icon-send" id="sendButton" onclick="sendMessage()"
                    data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Send message">
                <i class="feather-send"></i>
            </button>
        </div>
    </form>
    <p class="b3 small-text">ChatenAi can make mistakes. Consider checking important information.</p>
</div>