
<header class="rbt-header rbt-header-7 rbt-transparent-header">
    <div class="rbt-sticky-placeholder"></div>
    @@include('header/headerTop/headerTop-2.html', {
        "gapSpaceBetween": "bg-not-transparent bg-gradient-7 color-white",
        "container": "container",
    })
    @@include('header/header-2.html', {
        "logo": "logo.png",
        "transparent": "bg-color-white color-white-variation header-sticky rbt-border-bottom-light",
        "gapSpaceBetween": "",
        "container": "container",
        "navigationEnd": "rbt-navigation-end",
        "btnClass": "rbt-switch-btn btn-gradient btn-sm hover-transform-none",
        "btnText": "Join Now",
    })
    @@include('header/search.html')
</header>
@@include('header/mobilemenu.html')

