<!-- Start Header Area -->
<header class="rbt-header rbt-header-8 rbt-transparent-header">
    <div class="rbt-sticky-placeholder"></div>
    @@include('header/headerTop/headerTop-7.html', {
        "bgColor": "bg-color-transparent",
        "gapSpaceBetween": "header-space-betwween",
        "container": "container",
        "flexDirection": "",
        "btnClass": "rbt-switch-btn btn-gradient btn-xs",
        "btnText": "Call us now",
    })
    
    @@include('header/header-6.html', {
        "logo": "logo.png",
        "sticky": "header-sticky",
        "gapSpaceBetween": "",
        "container": "container",
        "navigationEnd": "rbt-navigation-end",
        "btnClass": "rbt-switch-btn btn-gradient btn-sm hover-transform-none",
        "btnText": "Join Now",
    })
</header>
@@include('header/mobilemenu.html')