<!-- Start Header Area -->
<header class="rbt-header rbt-header-5">
    <div class="rbt-sticky-placeholder"></div>
    
    @@include('header/headerTop/headerTop-5.html', {
        "bgColor": "bg-color-white rbt-border-bottom",
        "gapSpaceBetween": "header-space-betwween",
        "container": "container-fluid",
        "flexDirection": "",
        "btnClass": "rbt-switch-btn btn-gradient btn-xs",
        "btnText": "Log In",
    })

    @@include('header/header-5.html', {
        "logo": "logo.png",
        "transparent": "bg-color-white header-not-transparent header-sticky",
        "gapSpaceBetween": "header-space-betwween",
        "container": "container-fluid",
        "navigationEnd": "rbt-navigation-center",
        "btnClass": "rbt-marquee-btn marquee-auto btn-gradient btn-sm hover-transform-none",
        "btnText": "Enroll Now",
    })

</header>
@@include('header/mobilemenu.html')